<h3 class="title">Цитаты великих людей</h3>
<div class="quotes-list">
  <a *ngFor="let quote of (quotesSource$ | async).quotes | async"
     routerLink="/quote/{{quote.id}}"
     class="quote-item">
    <span class="quote-text">{{quote.text}}</span>
    <br>
    <span class="quote-author">{{quote.author}}</span>
  </a>
</div>
<div>
  <button *ngIf="createFormIsClosed"
          (click)="open()"
          class="add-quote-btn">Добавить цитату</button>
</div>
<quote-create-form *ngIf="!createFormIsClosed"
                   (onClose)="close()"></quote-create-form>
