<form [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="create-form">
  <div class="box">
    <h3 class="title">Add quote</h3>
    <button class="close" (click)="close.next()">X</button>
  </div>
  <div class="box">
    <label class="input-label">Author:</label>
    <input formControlName="author" class="author-input"/>
  </div>
  <div class="box">
    <label class="input-label">Text:</label>
    <textarea formControlName="text" class="text-input"></textarea>
  </div>
  <div *ngIf="form.invalid && !form.pristine" class="box error">
    <p>
      Text and author fields is required.<br />
      Text length must be >=2 && <=256, author length must be >=2 && <=64
    </p>
  </div>
  <div class="box">
    <button class="submit">Create</button>
  </div>
</form>
