<form [formGroup]="form"
      (ngSubmit)="onSubmit()"
      class="create-form">
  <div class="box">
    <h3 class="title">Добавить цитату</h3>
    <button class="close" (click)="onClose.next()">X</button>
  </div>
  <div class="box">
    <label class="input-label">Автор:</label>
    <input formControlName="author" class="author-input"/>
  </div>
  <div class="box">
    <label class="input-label">Текст:</label>
    <textarea formControlName="text" class="text-input"></textarea>
  </div>
  <div class="box error">
    <p>
      Обязательно заполните текст и автора цитаты.<br>
      Длина текста >=2 && <=256, длина автора >=2 && <=64
    </p>
  </div>
  <div class="box">
    <button class="submit">Создать</button>
  </div>
</form>
